.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.container-principal {
    max-width: 1280px; /* largura máxima */
    margin: 0 auto; /* centraliza na tela */
    padding: 20px; /* espaço interno */
}
/* ------------------------ */
/* CONFIGURAÇÃO GERAL       */
/* ------------------------ */
body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
}

/* Centraliza tudo na tela */
#container {
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 14px; /* evita cortar em telas pequenas */
}

/* ------------------------ */
/* CAIXAS (LOGIN / CADASTRO)*/
/* ------------------------ */

#TelaDeLogin,
#TelaDeCadastro {
    text-align: center;
    padding: 34px 27px;
    /* Agora é responsivo */
    width: 90%;
    max-width: 402px;
    box-sizing: border-box;
    background-color: #B2B2B2;
    border-radius: 27px;
    box-shadow: -3px 8px 10px grey;
}

/* ------------------------ */
/* INPUTS                    */
/* ------------------------ */

.entradaDados {
    text-align: center;
    /* Responsivo */
    width: 90%;
    max-width: 322px;
    height: 41px;
    font-size: clamp(14px, 3vw, 22px);
    margin-bottom: 17px;
    border-radius: 21px;
    background-color: #D9D9D9;
    border: 1px solid black;
    box-shadow: -3px 8px 10px grey;
}

    .entradaDados:hover {
        background-color: #afaeae;
    }

/* ------------------------ */
/* TÍTULO                    */
/* ------------------------ */
h1 {
    margin-top: -7px;
    font-size: clamp(20px, 4vw, 37px);
    text-align: center;
}

/* ------------------------ */
/* LABEL DOS INPUTS          */
/* ------------------------ */
.TextoInput {
    margin-top: -5px;
    display: block;
    /* sendo responsivo */
    font-size: clamp(12px, 3.2vw, 20px);
    text-align: left;
    color: white;
    margin-left: 14px;
}

/* ------------------------ */
/* BOTÃO                     */
/* ------------------------ */
.botaoEnviar {
    width: 26.6%;
    max-width: 100px;
    height: 33px;
    font-size: clamp(10px, 1.33vw, 14.6px);
    border-radius: 20px;
    background-color: #4A90E2;
    border: solid black 1px;
    color: #ffffff;
    margin: 6px auto 13px auto;
    display: block;
    transition: 0.2s;
}

    .botaoEnviar:hover {
        transform: scale(1.1);
        background-color: #3b7bc0;
        cursor: pointer;
        box-shadow: -3px 8px 10px grey;
    }

/* ------------------------ */
/* LINKS CADASTRAR / LOGIN  */
/* ------------------------ */
.Cadastre,
.Cadastre-se {
    font-size: clamp(10.6px, 1.66vw, 16px);
    text-shadow: -3px 8px 10px grey;
}

.Cadastre-se {
    padding-left: 20px;
    transition: 0.2s;
}

    .Cadastre-se:hover {
        transform: scale(1.1);
    }
